body{
  background-color: black;
}

h1{
  text-align: center;
  color: #ffffff;
  margin: 15px;
}

.box{
  display: inline-block;
  height: 62vmin;
  width: 50vmin;
  border: 5px solid transparent;
  margin: 6vmin;
  border-image: linear-gradient(45deg, #f06, green) 1;
  overflow: hidden;
  background-color: black;
}

.box:hover{
  box-shadow: 0px 5px 10px gray;
}

.card{
  margin: auto;
  text-align: center;
  background: transparent;
  color: #ffffff;

}

img{
  width: 100%;
  padding: 20px;
margin: auto;
}
